.container {
	@media all and (max-width: 900px){
		padding-left: ($padding-container)/2;
		padding-right: ($padding-container)/2;
	}	

	@media all and (max-width: 500px) {
		padding-left: ($padding-container)/3;
		padding-right: ($padding-container)/3;
	}
}

.row {
	@media all and (max-width: 800px) {
		.col-4, .col-6, .col-8 {
			width: 100%;
			max-width: 500px;
			float: none;
			display: block;
			margin-right: auto;
			margin-left: auto;
			margin-top: 50px; 
			@include clear;

			&:first-child {
				margin-top: 0;
			}
		}
	}
}



@media all and (max-width: 1200px){
	.footer {
		.col-6 {
			width: 100%;
			margin-bottom: 50px;

			.info-header {
				.item-info-header.escreva {
					width: 50%;
				}
			}
		}

		.col-3  {
			width: 50%;

			.link-footer {
				width: 50%;
				clear: none;
				font-size: .8rem;
				line-height: 1rem;

				i {
					font-size: .4rem;
				}
			}
		}
	}

	.info-header.info-contato {
		text-align: center;

		.item-info-header {
			float: none;
			display: inline-block;
			vertical-align: top;

			&.escreva {
				width: auto!important;
				margin-left: 40px;
			}
		}
	}

	.col-3.categorias-produtos {
		width: auto;
		float: none;
		display: inline-block;
		vertical-align: top;
	}

	.footer .row {
		text-align: center;
	}

	.footer .col-3 .link-footer {
		width: auto;
		display: block!important;
		clear: both;
	}
}

@media all and (max-width: 1150px){
	.menu-mobile {
		display: block;
		margin-top: 65px;
	}

	.header__navigation {
		display: none;
	}

	.info-header {
		margin-top: 40px;
	}

	.header.active {
		#menu-main-menu {
			position: relative;
			z-index: 99999;
		}
	}
}

@media all and (max-width: 950px){
	.header {
		.container {
			padding: 0;
		}
	}

	.header__navigation {
		margin-left: 210px;
	}

	#cargopress-navbar-collapse {
		padding-right: 20px!important;
	}

	#menu-main-menu {
		padding: 0;
	}

	.box-info-slide {
		.col-3 {
			width: 50%;

			//&:nth-child(2) {
				.box-item {
					border-right: 0;
				}
			//}
		}
	}

	.single-minha-area {
		.clientes {
			position: relative;
		}

		.col-9 {
			padding-top: 50px;
		}

		.col-9, .col-3.sidebar {
			width: 100%;
		}

		.col-3.sidebar {
			position: absolute;
			top: -40px;

			.list-menu {
				margin: 0;
				border-bottom: 1px solid #F1F1F1;
				padding-bottom: 5px;

				li {
					display: inline-block;
					border: 0;
				}
			}
		}
	}

	$hSlide: 40vh;
	.slide {
		height: $hSlide;

		.item {
			height: $hSlide;
			line-height: $hSlide;			
		}

		.container {
			height: $hSlide;
		}
	}

	.item-ico-home {
		i {
			width: 60px;
			height: 60px;
			line-height: 60px;
			font-size: 20px;
		}

		p.subtitulo {
			font-size: 1.8rem;
			line-height: 2rem;
			margin-bottom: 10px;
		}
	}
}

@media all and (max-width: 800px){
	.header {

		h1 {
			padding: 0;
			margin: 10px;
			height: auto;
			a {
				vertical-align: top;
			}
		}

		.info-header {
			display: none;
		}
	}

	.footer {
		.col-6 {
			.info-header {
				.item-info-header {
					width: 100%!important;
				}
			}
		}

		.col-3 {
			width: 100%;
			max-width: 500px;
			float: none;
			display: block;
			margin-right: auto;
			margin-left: auto;
			margin-top: 50px;
			clear: both;

			&:last-child {
				padding-top: 20px;
			}

			.link-footer {
				width: auto;
				@include clear;
			}
		}
	}

	.login.form-padrao {
		margin-top: 0;
	}

	.home-quem-somos p.subtitulo {
    	margin-top: 0px;
	}

	.box-content.row-img-cover .slide .item {
    	height: auto;
	}

	.box-content.row-img-cover .slide .item .img-cover {
		background-size: contain;
		background-repeat: no-repeat;
		height: 200px;
		background-position: top center;
	}

	.box-content.row-img-cover .slide .item {
		margin-top: 0;
	}

	.box-content.row-img-cover [class*="col-"] {
		clear: both;
		margin: 0 auto 20px;
		float: none;
	}

	.box-content.row-img-cover [class*="col-"] .middle {
		padding: 0;
		vertical-align: top;
	}

	.box-content.row-img-cover [class*="col-"] {
	    display: block;
	    height: auto;
	    margin: 0 auto;
	    float: none;
	}

	.footer .col-6 .info-header .item-info-header.escreva {
		margin-left: 0;
	}

	.footer h3 {
		text-align: left;
	}
}

@media all and (max-width: 700px){
	.item-ico-home {
		width: 50%!important;

		&:nth-child(3){
			clear: both;
		}

		&:nth-child(1), &:nth-child(2){
			margin-bottom: 50px;
		}
	}
}

@media all and (max-width: 600px){
	.box-info-slide {
		.col-3 {
			width: 100%;
		}
	}

	.item-ico-home {
		width: 100% !important;
	}

	.box-content {
		.row {
			.col-7, .col-5 {
				width: 100%!important;
			}
		}
	}

	.info-contato {
		&.form-contato {
			.item-info-header {
				text-align: center;
			}
		}
	}
}

@media all and (max-width: 500px){

	.slide {
		.item {
			p {
				margin-top: 10px;
			}
		}
	}

	.copy {
		p {
			padding: 40px 0 10px;
			width: 100%;
			text-align: center;
		}

		.redes {
			position: absolute;
			width: 100%;
			text-align: center;
			top: 6px;
		}
	}

	.col-6.home-quem-somos {
		margin-top: 25px;
		text-align: center;
	}
}